<div
  class="thumbnail"
  [class.primary]="category === categoryTypes.Top"
  [class.secondary]="category === categoryTypes.New"
>
  <img *ngIf="!imgError" class="img-thubnail" [src]="backgroundImageUrl" [alt]="game?.name" (error)="imgError = true" />

  <div *ngIf="imgError" class="img-thubnail">
    <span>{{ game?.name }} </span>
  </div>
  <div class="mask" *ngIf="category">
    <div class="ribbon">
      {{ category }}
    </div>
  </div>

  <div class="info-play">
    <div class="info jackpot" *ngIf="showJackpot()">{{ game?.jackpotAmount }}</div>
    <div class="play-button" *ngIf="!showJackpot()">
      <img src="assets/icons/play_arrow.svg" />
    </div>

    <div class="info name" *ngIf="!showJackpot()">{{ game?.name }}</div>
  </div>
</div>
