@import "mixins";
@import "variables";

.info-play {
  opacity: 0;
  visibility: hidden;
  display: flex;
  transition: all 0.5s ease-in-out;
  position: absolute;
  height: 154px;
  width: 260px;

  .play-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid white;
    background-color: rgba(141, 198, 63, 0.6);
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }

    img {
      height: 48px;
    }
  }

  .info {
    width: 100%;
    padding: 10px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;

    &.jackpot {
      bottom: auto;
      top: 0;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
    }

    &.name{
      bottom: 0;
      top: auto;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
    }
  }
}

.thumbnail {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: $clr-secondary;


  &, .img-thubnail {
    height: 154px;
    width: 260px;
  }

    &.primary {
      .ribbon {
        color: $clr-prim;
        background: rgb(204, 219, 184);
        background: linear-gradient(
            152deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(225, 225, 225, 1) 100%
        );

        @include ribbonShadow(#bbb);
      }

      .mask {
        &:before {
          background: #bbb;
        }

        &:after {
          background: #666;
        }
      }
    }

    &.secondary {
      .ribbon {
        color: $clr-secondary;
        background: rgb(204, 219, 184);
        background: linear-gradient(
            152deg,
            rgba(204, 219, 184, 1) 0%,
            rgba(144, 199, 69, 1) 6%,
            rgba(194, 214, 167, 1) 100%
        );
        @include ribbonShadow(#57dd43);
      }


      .mask {
        &:before {
          background: #95bd65;
        }

        &:after {
          background: #4d6530;
        }
      }
    }




  .img-thubnail {
    position: absolute;
    border-radius: 25px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;


    span {
      padding: step(1);
      word-break: break-word;
      text-align: center;
    }
  }

  &:hover {
    .info-play {
      visibility: visible;
      opacity: 1;
    }

  }

  .mask {
    position: relative;
    overflow: hidden;
    float: right;
    height: 150px;
    width: 150px;
    z-index: 999;

    transform: scale(0.7) translate(40px, -40px);

    &:before,
    &:after {
      content: "";
      position: relative;
      display: block;
    }

    &:before {
      width: 40px;
      height: 8px;
      left: 0px;
      border-radius: 8px 0px 0px 0px;
    }

    &:after {
      width: 8px;
      height: 40px;
      left: 141px;
      top: 60px;
      border-radius: 0px 0px 8px 0px;
    }
  }

  .ribbon {


    border-radius: 75% 75% 0px 0px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 27px;
    right: 7px;
    z-index: 2;
    transform: rotate(45deg);
    text-transform: uppercase;

    text-align: center;

  }
}
