<div class="thumbnail" [class.primary]="category === categoryTypes.Top" [class.secondary]="category === categoryTypes.New">
  <img *ngIf="!imgError" class="img-thubnail" [src]="backgroundImageUrl" [alt]="game?.name" (error)="imgError = true" />

  <div *ngIf="imgError" class="img-thubnail">
    <span>{{ game?.name }} </span>
  </div>
  <div class="mask" *ngIf="category">
    <div class="ribbon">
      {{ category }}
    </div>
  </div>

  <div class="info-play">
    <div class="info jackpot" *ngIf="showJackpot()">£{{ game?.jackpotAmount | number: '.2' }}</div>
    <div class="play-button">
      <img src="assets/icons/play_arrow.svg" />
    </div>

    <div class="info name">{{ game?.name }}</div>
  </div>
</div>
